---
interface Heading {
  depth: number;
  slug: string;
  text: string;
}

interface Props {
  headings: Heading[];
}

const { headings } = Astro.props;
const items = headings.filter((heading) => heading.depth === 2 || heading.depth === 3);
---

{items.length > 0 && (
  <aside class="content-card toc">
    <h3 class="toc-heading">文章目录</h3>
    <ul>
      {items.map((heading) => (
        <li class:list={['toc-item', heading.depth > 2 && 'is-sub']}>
          <a href={`#${heading.slug}`}>{heading.text}</a>
        </li>
      ))}
    </ul>
  </aside>
)}
